body{
    
    color: white;
    
}
.ana{
    margin: -22px;
    background-color: #4741AF;
}
.navbar-brand{


    margin-left: -40px;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.navbar{
    
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}

.nav-link{
    
    color: white;
}
.my-name{
    
    font-size: 74px;
    font-weight: 900;
}
.myname1{
    margin-top: 40px;
}
p{
    font-size: 20px;
    font-weight: 500;
}
.myname2{
    
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin: 40px opx 40px 0px;
    background-color: #6C63FF;
    border-radius: 28px;
    padding: 6px 10px 6px 10px;
    color: white;
    
    
}
.myname2:hover{
    color: #4741AF;
    background-color: #FFFFFF
    
}
.img-fluid{
    margin-left: 25px;
}
.ana1{
    height: 500px;
    width: 580px;
    margin-top: 140px;
    margin-left: -76px;
}
.ana2{
    color: #4741AF;
    margin-top: 140px;
    margin-left: ;
    font-size: 30px;
    font-weight: 700;
}
.ana3{
    color: black;
    
    margin-left: px;
    font-size: 40px;
    font-weight: 900;
}
.ana4{
    color: black;
}
.ana5{
    color: black;
    font-size: 15px;
    font-weight: 700;
    
}
.ana6{margin-top: 130px;
    border-radius: 50%;
    background-color: mistyrose;
    
}
.ana7{
    margin-top: -190px;
}
.ana9{
    color: #4741AF;
    font-size: 25px;
    font-weight: 800;
    margin-top: 100px;
    margin: 0px 0px 18px -18px;
}
.ana8{
    color: black;
    font-size: 35px;
    font-weight: 700;
    margin: 0px 0px 18px -18px;
}
.ana11{
    color: black;
    padding: 100px;
    background-color: red;
}
.hu1{
    
    font-size: 20px;
    font-weight: 800;
    color: black;
    margin: -5px 0px 16px -56px;
}
.hu2{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: -5px -33px 5px -56px;
}
.hu3{
    padding: 63px 49px 30px 62px;
    background-color: #FFFFFF;
    margin: 7px 18px 0px -18px;
}
.bi{
    background-color: #4741AF;
    margin: -68px 1px 1px -58px;
    color: white;
    border-radius: 42%;
    padding: 4px;
}
.hu6{
    color: black;
    padding: 63px 49px 30px 62px;
    background-color: #FFFFFF;
    margin: 20px 18px 0px -18px;
    
}
.hu4{
    font-size: 20px;
    font-weight: 800;
    color: black;
    margin: -5px 0px 16px -56px;
    
}
.hu5{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: -5px -33px 5px -56px;
    
}
.bi1{
    background-color: #4741AF;
    margin: -68px 1px 1px -58px;
    color: white;
    border-radius: 42%;
    padding: 4px;
}
.ahmad2{
    margin-left: -55px;
}
.ahmad3{
    margin-top: 92px;
    font-size: 25px;
    font-weight: 700;
    color: blue;
}
.ahmad4{
    font-size: 44px;
    font-weight: 700;
    color: black;
}
.ibr1{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    color: black;
}