body{
    background-color: #4741AF;
    color: white;
    
}
.navbar-brand{
    font-size: 40px;
    font-weight: 900;
}
.navbar{
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}
.im{
    margin-top: 80px;

}
.is[
    ms
]